{% extends 'default.html' %}

{% block title %}Advertisements{% endblock title %}

{% block content %}
    <br><br>
    {% if advertisements %}
        {% for advertisement in advertisements %}
            <a href="/advertisement/{{ advertisement.id }}" style="font-size: 20px;"><b>{{ advertisement.title }}</b></a><br>
            <span style="font-size: 12px;"><b>Автор:  {{ advertisement.author }} |
                Дата публикации: {{ advertisement.time_create|date:'d.M.Y' }} г.</b></span><br><br>



        {% endfor %}
    {% else %}
        <br><br>
        <h2>Публикаций нет!</h2>
    {% endif %}

    {% if user.is_authenticated %}
        <br><br><br>
        <a class="btn btn-secondary" href="{% url 'create_ad' %}" role="button">Добавить новое объявление</a>
    {% endif %}
{% endblock content %}
